/*https://md-to-pdf.fly.dev/  */
html {
  font-size: 12px;  /* Base font size */
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0rem;      /* Maximum margin is 1rem */
  margin-top:-2rem;
  margin-bottom:-2rem;
  padding: 0rem;   /* Reduced padding */
  max-width: 60rem;  /* 960px (12 * 80) */
  line-height: 1.618;  /* Using golden ratio for line-height */
  color: #333;
  background-color: #fff;
}

/* Headings styling with reduced margins and golden ratio */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0rem; /* Reduced top margin */
  margin-bottom: 0rem;   /* Reduced bottom margin */
  color: #000;
}

h1 {
  font-size: 2rem;         /* 24px */
  border-bottom:2px solid #333;
}

h2 {
  font-size: 1.618rem;     /* 19.42px (golden ratio of h1) */
  border-bottom:2px solid #333;
}

h3 {
  font-size: 1.12rem;/* 12px */
  display:inline-block;
}

h4, h5, h6 {
  font-size: 0.618rem;     /* 7.42px (golden ratio of h3) */
}

/* Section titles with reduced bottom margin */
section {
  padding-bottom: 0rem;
  border-bottom: 1px solid #eaecef;
}

/* Text blocks and paragraphs */
p {
  margin-top:0px;
  margin-bottom: 0rem;    /* Reduced margin */
}

div{
  margin-bottom: 0rem;   
    margin-top:0px;
}

ul, ol {
  margin-left: 1rem;         /* Left margin reduced */
  margin-bottom: 0rem;     /* Reduced bottom margin */
  padding-left: 0.75rem;     /* Reduced padding */
  margin-top:0px;
}

li {
  margin-bottom: 0rem;  
  margin-top:0px;/* Reduced margin */
}

/* Links */
a {
  color: #0366d6;
  text-decoration: underline;
  margin-bottom: 0rem; 
  font-size: 1rem;
  font-weight: 500;
}

strong {
  margin-bottom: 0rem;   
    margin-top:0px;
}
/* Formatting for tables */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 0rem;     /* Reduced margin */
}

th, td {
  padding: 0.5rem;          /* Reduced padding */
  border: 1px solid #eaecef;
}

th {
  background-color: #f6f8fa;
  font-weight: bold;
}

td {
  text-align: left;
}

/* Footer or contact links section */
footer {
  text-align: center;
  margin-top: 2rem;
}

footer a {
  margin: 0 0.25rem;
  font-size: 1.125rem;
}

/* Contact Information */
.contact-info {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.contact-info a {
  color: #0366d6;
}
